<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVV - Product Info</title>
    <link rel="stylesheet" th:href="@{/style/variables/variables.css}">
    <link rel="stylesheet" th:href="@{/style/global/global.css}">
</head>
<body>
    <main>
        <p>Información para el producto: <span th:text="${producto.nombre}"></span></p>
        <ul>
            <li>Precio del producto: <span th:text="${producto.precio}"></span>€</li>
            <li>Material del producto: <span th:text="${producto.material}"></span></li>
        </ul>
    </main>
</body>
</html>