<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVV - Productos</title>
    <link rel="stylesheet" th:href="@{/style/variables/variables.css}">
    <link rel="stylesheet" th:href="@{/style/global/global.css}">
</head>
<body>
    <main>
        <p>Lista de productos generados de manera estática:</p>
        <ul>
            <li th:each="producto : ${lista}" th:text="${producto.toString}"></li>
        </ul>
    </main>
</body>
</html>