<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVV - Form COntact OK</title>
</head>
<body>
    <main>
        <p>Nombre del cliente: <span th:text="${fc.nombre}"></span></p>
        <p>Email del cliente: <span th:text="${fc.email}"></span></p>
        <p>Mensaje del cliente: <span th:text="${fc.mensaje}"></span></p>
        <p>Toda la información enviada en el formulario ha sido procesada correctamente...</p>
    </main>
</body>
</html>