<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UD05 - AVV - SPRING BOOT</title>

    <!-- Estilos -->

    <link rel="stylesheet" th:href="@{css/index.css}">
    <link rel="stylesheet" th:href="@{css/variables.css}">

</head>
<body>

    <!-- Header -->

    <header>
        <h1>Aplicaciones Web con Spring Boot</h1>
        <h4>Prueba de métodos de la teoría</h4>
    </header>

    <!-- Contenido principal-->

    <main>
        <div>
            <p>Lista de configuraciones aplicadas en la aplicación listas para probar: </p>
        </div>
        <div>
            <ul>
                <li>Para ejecutar el controlador que lanza la vista: saludar.html pon en la URL: saludar/nombre_que_quieras</li>
                <li>Para ejecutar el controlador que lanza la vista: saludarParam.html pon en la URL: saludoParam?nombre=nombre_que_quieras o sin nada. Será valor por defecto</li>
                <li>Para ejecutar un formulario que lanza la vista: formulario.html pon en la URL: /producto/form</li>
            </ul>
        </div>
    </main>

    <!-- Footer -->

</body>
</html>