/* Estilos generales para formularios */

form label, input, button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 1.25em;
}

form {
    max-width: 900px;
    margin: 0 auto;
}

form button {
    margin-top: 2.25em;
}

form label {
    padding-left: 0;
}

form .error {
    color: red;
    font-weight: bolder;
}