<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UD05 - AVV - SPRING BOOT</title>
    <link rel="stylesheet" th:href="@{/css/variables.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <!-- Header -->

    <header>
        <h1>Aplicaciones Web con Spring Boot</h1>
        <h4>Prueba de métodos de la teoría</h4>
    </header>

    <!-- Contenido principal -->

    <main>
        <p><span th:text="|Nombre del cliente indicado dentro de la ruta, puede ser opcional: ${nombre}|"></span></p>
    </main>

</body>
</html>